{% macro paginator(pages) -%}

{% if pages.is_paginated %}
<div class="pagination">

  {% if pages.page_obj.has_previous() %}
  <a href="?page={{ pages.page_obj.previous_page_number() }}{{ pages.getvars }}{{ pages.hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans %}previous{% endtrans %}</a>
  {% endif %}

  {% for page in pages.pages %}
  {% if page %}
  <a href="?{{ pages.prefix }}page={{ page }}{{ pages.getvars }}{{ pages.hashtag }}"{% if page == pages.page_obj.number %} class="selected"{% endif %}>{{ page }}</a>
  {% else %}
  ...
  {% endif %}
  {% endfor %}

  {% if pages.page_obj.has_next() %}
  <a href="?{{ pages.prefix }}page={{ pages.page_obj.next_page_number() }}{{ pages.getvars }}{{ pages.hashtag }}" class="next">{% trans %}next{% endtrans %} &rsaquo;&rsaquo;</a>
  {% endif %}

</div>
{% endif %}

{%- endmacro %}

<ul id="tcc">
  {% if user.is_authenticated() %}
  <form action="{% url tcc_post %}" method="post">
    {% csrf_token %}
    {% for fld in form %}{{ fld.as_widget() }}{% endfor %}
    <div>
      <input type="submit" name="some_name" value="{% trans %}Save{% endtrans %}">
      <a style="display:none" class="reply-form" href="#" title="{% trans %}Cancel{% endtrans %}">{% trans %}Cancel{% endtrans %}</a>
    </div>
  </form>
  {% else %}
  <p>Please <a href="{% url auth_login %}">log in</a> to share your insights</p>
  {% endif %}

  {% set levels = [0] %}
  {% set prev = None %}

  {% if not comments %}
  <div class="blank_slate small" style="margin-top: 10px;">
    {% trans %}No comments yet...{% endtrans %}
  </div>
  {% endif %}

  {% autopaginate comments as cs prefix='c', per_page=21, orphans=3  %}

  {% for c in cs %}

  {% if prev == None and c.parent %}
     {% continue %}
  {% endif %}

  {# administration #}
  {% set prevs = levels %}
  {% set lvl = c.depth %}
  {% if c.parent %}
    {% set childcount = childcount + 1 %}
    {% set levels = levels[:lvl] + [lvl] %}
  {% else %}
    {% set levels = [0] %}
    {% set childcount = 0 %}
  {% endif %}

  {# opening / closing of uls and li's #}
  {% if levels > prevs %}
    <ul class="replies">
  {% elif levels == prevs %}
  </li>
  {% else %}
    {% for x in prevs[lvl:-1] %}
    </ul>
    {% if prev.parent.childcount > c.REPLY_LIMIT %}<a class="showall" href="{% url tcc_replies prev.parent_id %}" title="{% trans %}Show all{% endtrans %}">
      {% trans %}Show all{% endtrans %}</a>{% endif %}
  </li>
    {% endfor %}
  {% endif %}

  {% set doclose = true %}
  {% include 'tcc/comment.html' %}

  {# close the last li (and / or uls) #}
  {% if loop.last %}
  {% if lvl ==  0 %}
    {% if c.childcount %}
    <a class="showall" href="{% url tcc_replies c.id %}" title="{% trans %}Show all{% endtrans %}">
      {% trans %}Show all{% endtrans %}</a>
    {% endif %}
  </li>
  {% else %}
  {% for _ in levels[1:] %}
    </ul>
    {% if childcount < c.parent.childcount or c.parent.childcount > c.REPLY_LIMIT %}
    <a class="showall" href="{% url tcc_replies c.parent_id %}" title="{% trans %}Show all{% endtrans %}">
      {% trans %}Show all{% endtrans %}</a>
    {% endif %}
  </li>
  {% endfor %}
  {% endif %}
  {% endif %}

  {% set prev = c %}

  {% endfor %}
  
  {{ paginator(cs_pages) }}

  <form class="remove-form" action="" method="post" style="display:none">
    {% csrf_token %}
    {% trans %}Are you sure you want to delete this comment?{% endtrans %}
    <input type="submit" name="remove-submit" value="{% trans %}Yes{% endtrans %}">
    <a class="remove-cancel" href="#">{% trans %}Cancel{% endtrans %}</a>
  </form>

  <form class="unsubscribe-form" action="" method="post" style="display:none">
    {% csrf_token %}
    {% trans %}<p>If you continue, you will no longer receive emails to notify you of new messages in this thread.
      Do you want to continue?{% endtrans %}</p>
    <input type="submit" name="unsubscribe-submit" value="{% trans %}Yes{% endtrans %}">
    <a class="unsubscribe-cancel" href="#">{% trans %}Cancel{% endtrans %}</a>
  </form>

</ul>

<script type="text/javascript">
  $(document).ready(function(){
  {% if user.is_authenticated() %}
  $(document).tcc({user_id: {{ user.id }}, user_name: '{{ user.username }}'});
  {% else %}
  $(document).tcc();
  {% endif %}
  });
</script>
